// Body
$body-bg: #FFFFFF;
$link-color: #1A73E8;
$link-hover-color: #0D47A1;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #1A73E8;
$secondary: #5F6368;
$success: #34A853;
$danger: #EA4335;
$warning: #FBBC05;
$info: #4285F4;
$light: #f8f9fa;
$dark: #202124;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

// Create your own map
$custom-colors: (
  "cred": #EA4335,
  "cgreen": #34A853,
  "cblue": #4285F4,
  "cyellow": #FBBC05,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
